Package: lz-disk-cleaner-dbg
Source: lz-disk-cleaner
Version: 1.2.0-1
Architecture: amd64
Maintainer: 克亮 <315707022@qq.com>
Installed-Size: 10
Depends: lz-disk-cleaner (= 1.2.0-1)
Section: debug
Priority: optional
Homepage: https://github.com/tonglingcn/lz-disk-cleaner
Description: Debug symbols for lz-disk-cleaner
 This package contains the debug symbols for lz-disk-cleaner,
 useful for debugging and development purposes.
