# Build directories
build/
obj-*/

# Debian build artifacts
debian/*.debhelper.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/.debhelper/
debian/tmp/
debian/lz-disk-cleaner/
debian/lz-disk-cleaner-dbg/

# Generated packages
*.deb
*.changes
*.buildinfo
*.dsc
*.tar.gz
*.tar.xz
*.orig.tar.gz

# IDE
.vscode/
.idea/

# OS
.DS_Store
*~
