[Desktop Entry]
Version=1.1
Name=磁盘清理工具
Name[zh_CN]=磁盘清理工具
Name[zh_TW]=磁碟清理工具
GenericName=Disk Cleaner
GenericName[zh_CN]=磁盘清理工具
GenericName[zh_TW]=磁碟清理工具
Comment=Clean up disk space and optimize system performance for Deepin
Comment[zh_CN]=Deepin 磁盘清理和系统优化工具
Comment[zh_TW]=Deepin 磁碟清理和系統優化工具
Exec=/usr/bin/lz-disk-cleaner
Icon=lz-disk-cleaner
Terminal=false
Type=Application
Categories=System;FileTools;Qt;
Keywords=disk;clean;cache;optimizer;system;deepin;
Keywords[zh_CN]=磁盘;清理;缓存;优化;系统;深度;软件源;自启动;文件粉碎;
Keywords[zh_TW]=磁碟;清理;快取;優化;系統;深度;
StartupNotify=true
StartupWMClass=lz-disk-cleaner
X-Deepin-ManualID=lz-disk-cleaner
X-Deepin-Vendor=deepin
X-Deepin-Turbowise=false
